= form_with model: [@question, @answer], class: 'new-answer' do |f|
  = f.label :body, 'Your answer'
  = f.text_area :body, autocomplete: "body", class: 'form-control mt-2 mb-2', placeholder: 'Your answer'
  = f.submit 'Answer', class: 'btn btn-primary mb-5'